@import url("https://use.typekit.net/emf1pvk.css");
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: "omnes-pro";
}
html, body, #__next, main {
  height: 100%;
  width: 100%;
  @apply bg-black
}
